In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
df = pd.read_csv("F:/GreyAtom/classroom_prac/votes.csv")
df.head()

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>party</th>
      <th>infants</th>
      <th>water</th>
      <th>budget</th>
      <th>physician</th>
      <th>salvador</th>
      <th>religious</th>
      <th>satellite</th>
      <th>aid</th>
      <th>missile</th>
      <th>immigration</th>
      <th>synfuels</th>
      <th>education</th>
      <th>superfund</th>
      <th>crime</th>
      <th>duty_free_exports</th>
      <th>eaa_rsa</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>republican</td>
      <td>n</td>
      <td>y</td>
      <td>n</td>
      <td>y</td>
      <td>y</td>
      <td>y</td>
      <td>n</td>
      <td>n</td>
      <td>n</td>
      <td>n</td>
      <td>n</td>
      <td>y</td>
      <td>y</td>
      <td>y</td>
      <td>n</td>
      <td>?</td>
    </tr>
    <tr>
      <th>1</th>
      <td>democrat</td>
      <td>?</td>
      <td>y</td>
      <td>y</td>
      <td>?</td>
      <td>y</td>
      <td>y</td>
      <td>n</td>
      <td>n</td>
      <td>n</td>
      <td>n</td>
      <td>y</td>
      <td>n</td>
      <td>y</td>
      <td>y</td>
      <td>n</td>
      <td>n</td>
    </tr>
    <tr>
      <th>2</th>
      <td>democrat</td>
      <td>n</td>
      <td>y</td>
      <td>y</td>
      <td>n</td>
      <td>?</td>
      <td>y</td>
      <td>n</td>
      <td>n</td>
      <td>n</td>
      <td>n</td>
      <td>y</td>
      <td>n</td>
      <td>y</td>
      <td>n</td>
      <td>n</td>
      <td>y</td>
    </tr>
    <tr>
      <th>3</th>
      <td>democrat</td>
      <td>y</td>
      <td>y</td>
      <td>y</td>
      <td>n</td>
      <td>y</td>
      <td>y</td>
      <td>n</td>
      <td>n</td>
      <td>n</td>
      <td>n</td>
      <td>y</td>
      <td>?</td>
      <td>y</td>
      <td>y</td>
      <td>y</td>
      <td>y</td>
    </tr>
    <tr>
      <th>4</th>
      <td>democrat</td>
      <td>n</td>
      <td>y</td>
      <td>y</td>
      <td>n</td>
      <td>y</td>
      <td>y</td>
      <td>n</td>
      <td>n</td>
      <td>n</td>
      <td>n</td>
      <td>n</td>
      <td>n</td>
      <td>y</td>
      <td>y</td>
      <td>y</td>
      <td>y</td>
    </tr>
  </tbody>
</table>
</div>

In [17]:
from sklearn.neighbors import KNeighborsClassifier
knn = KNeighborsClassifier()

In [5]:
df['party'].value_counts()

democrat      267
republican    167
Name: party, dtype: int64

In [19]:
x = df.drop(['party'], axis = 1)

In [20]:
y = df['party']

In [21]:
x.shape

(434, 16)

In [22]:
y.shape

(434,)

In [10]:
from sklearn.preprocessing import LabelEncoder

In [15]:
df = df.apply(LabelEncoder().fit_transform)

In [16]:
df.head()

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>party</th>
      <th>infants</th>
      <th>water</th>
      <th>budget</th>
      <th>physician</th>
      <th>salvador</th>
      <th>religious</th>
      <th>satellite</th>
      <th>aid</th>
      <th>missile</th>
      <th>immigration</th>
      <th>synfuels</th>
      <th>education</th>
      <th>superfund</th>
      <th>crime</th>
      <th>duty_free_exports</th>
      <th>eaa_rsa</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>1</td>
      <td>1</td>
      <td>2</td>
      <td>1</td>
      <td>2</td>
      <td>2</td>
      <td>2</td>
      <td>1</td>
      <td>1</td>
      <td>1</td>
      <td>1</td>
      <td>1</td>
      <td>2</td>
      <td>2</td>
      <td>2</td>
      <td>1</td>
      <td>0</td>
    </tr>
    <tr>
      <th>1</th>
      <td>0</td>
      <td>0</td>
      <td>2</td>
      <td>2</td>
      <td>0</td>
      <td>2</td>
      <td>2</td>
      <td>1</td>
      <td>1</td>
      <td>1</td>
      <td>1</td>
      <td>2</td>
      <td>1</td>
      <td>2</td>
      <td>2</td>
      <td>1</td>
      <td>1</td>
    </tr>
    <tr>
      <th>2</th>
      <td>0</td>
      <td>1</td>
      <td>2</td>
      <td>2</td>
      <td>1</td>
      <td>0</td>
      <td>2</td>
      <td>1</td>
      <td>1</td>
      <td>1</td>
      <td>1</td>
      <td>2</td>
      <td>1</td>
      <td>2</td>
      <td>1</td>
      <td>1</td>
      <td>2</td>
    </tr>
    <tr>
      <th>3</th>
      <td>0</td>
      <td>2</td>
      <td>2</td>
      <td>2</td>
      <td>1</td>
      <td>2</td>
      <td>2</td>
      <td>1</td>
      <td>1</td>
      <td>1</td>
      <td>1</td>
      <td>2</td>
      <td>0</td>
      <td>2</td>
      <td>2</td>
      <td>2</td>
      <td>2</td>
    </tr>
    <tr>
      <th>4</th>
      <td>0</td>
      <td>1</td>
      <td>2</td>
      <td>2</td>
      <td>1</td>
      <td>2</td>
      <td>2</td>
      <td>1</td>
      <td>1</td>
      <td>1</td>
      <td>1</td>
      <td>1</td>
      <td>1</td>
      <td>2</td>
      <td>2</td>
      <td>2</td>
      <td>2</td>
    </tr>
  </tbody>
</table>
</div>

In [23]:
knn.fit(x,y)

KNeighborsClassifier(algorithm='auto', leaf_size=30, metric='minkowski',
           metric_params=None, n_jobs=1, n_neighbors=5, p=2,
           weights='uniform')

In [24]:
train = df.iloc[:400]

In [26]:
test = df.iloc[400:]

In [27]:
x_train = train.drop('party', axis = 1).values
y_train = train['party'].values

In [28]:
model1 = knn.fit(x_train,y_train)

In [30]:
y_test = test['party']
x_test = test.drop(['party'] , axis = 1)

In [31]:
y_pred = model1.predict(x_test)

In [32]:
y_pred

array([1, 0, 1, 1, 1, 0, 1, 0, 1, 1, 0, 1, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0,
       0, 0, 0, 0, 1, 0, 0, 1, 0, 1, 1, 1], dtype=int32)

In [33]:
y_test

400    1
401    1
402    1
403    1
404    1
405    0
406    0
407    0
408    1
409    1
410    0
411    1
412    1
413    0
414    0
415    1
416    0
417    0
418    0
419    1
420    0
421    0
422    0
423    0
424    0
425    0
426    1
427    0
428    0
429    1
430    0
431    1
432    1
433    1
Name: party, dtype: int32

In [35]:
y_pred = list(y_pred)
y_test = list(y_test)

In [36]:
miscalculated = []
for x,y in zip(y_test,y_pred):
	if x!=y:
		miscalculated.append(x)
print(1-(len(miscalculated)/len(y_test)))

0.9117647058823529

In [ ]:
knn.predict_proba()